@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}


@media only screen and (max-width: 1440px) {
    body {
        background-color: hsl(30, 38%, 92%);

        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        width: 35%;
        height: 100vh;
        overflow: auto;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    section>div {
        display: flex;
        height: 55%;
    }

    .container {
        display: flex;
        flex: 1;
    }

    .product-image {
        width: 100%;
        border-radius: 10px 0 0 10px;
        background-image: url(/product-preview-card-component-main/images/image-product-desktop.jpg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .details-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        background-color: white;
        text-align: left;
        border-radius: 0 10px 20px 0;
    }

    .price-row {
        display: flex;
        align-items: center;
        color: hsl(158, 36%, 37%);
    }

    h1 {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25rem;
        font-size: 0.75rem;
        color: hsl(228, 12%, 48%);
    }

    h2 {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 1.7rem;
        color: hsl(212, 21%, 14%);
        line-height: 1;
    }

    div.price-row>h2 {
        color: hsl(158, 36%, 37%);
    }

    p {
        color: hsl(228, 12%, 48%);
        font-size: 0.75rem;
        line-height: 1.75;
    }

    .old-price {
        text-decoration: line-through;
        font-size: 0.75rem;
        padding-left: 15px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 5px;
        background-color: hsl(158, 36%, 37%);
        font-size: 0.75rem;
        font-weight: 700;
        color: white;
    }

    button:hover {
        background-color: hsl(158, 36%, 20%);
        cursor: pointer;
    }

    .material-icons-outlined {
        font-size: 1rem;
        color: white;
        padding-right: 10px;
    }

}

@media only screen and (max-width: 375px) {
    body {
        background-color: hsl(30, 38%, 92%);
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
    }

    section {
        width: 100%;
        height: 100vh;
        overflow: auto;
        margin: 0 auto;
    }

    section>div {
        display: block;
        width: 95%;
        height: 90%;
    }

    .container:first-child {
        display: flex;
        flex-direction: column;
        height: 40%;
        flex: 1 auto;
    }
    .container:last-child {
        display: flex;
        flex-direction: column;
        height: 60%;
        flex: 1 auto;
    }    

    .product-image {
        width: 100%;
        height: 100%;
        background-image: url(/product-preview-card-component-main/images/image-product-mobile.jpg);
        border-radius: 10px 10px 0 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .details-card {
        height: 110%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
        background-color: white;
        text-align: left;
        border-radius: 0 0 10px 10px;
    }

    .price-row {
        display: flex;
        align-items: center;
        color: hsl(158, 36%, 37%);
    }

    h1 {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25rem;
        font-size: 0.75rem;
        color: hsl(228, 12%, 48%);
    }

    h2 {
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-size: 1.7rem;
        color: hsl(212, 21%, 14%);
        line-height: 1;
    }

    div.price-row>h2 {
        color: hsl(158, 36%, 37%);
    }

    p {
        color: hsl(228, 12%, 48%);
        font-size: 0.75rem;
        line-height: 1.75;
    }

    .old-price {
        text-decoration: line-through;
        font-size: 0.75rem;
        padding-left: 15px;
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0.75rem;
        border: none;
        border-radius: 5px;
        background-color: hsl(158, 36%, 37%);
        font-size: 0.75rem;
        font-weight: 700;
        color: white;
    }

    button:hover {
        background-color: hsl(158, 36%, 20%);
        cursor: pointer;
    }

    .material-icons-outlined {
        font-size: 1rem;
        color: white;
        padding-right: 10px;
    }

}